*{
    background-color: rgb(16, 140, 218);
    color: rgb(110, 204, 241);
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

#quiz{
    border-width: 3px;
    border-color: maroon;
}